#canvas {
    border: 1px solid black;
    width: 600px;
    height: 400px;
}
#bar-chart {
    width: 800px;
    height: 450px;  
}
.container{ 
    width: 600px;
    position: relative;
    margin: 0 auto;
}
#pie-chart {
    display: block;
    width: 600px;
    height: 400px;

}